<div class="new-screen d-flex flex-column">

  <h3>イラスト上達への軌跡</h3>

  <div class="form-group">
    <%= form_with model: @article, url: articles_path, local:true do |f| %>


      <h5>画像</h5>
      <div>
        <%= f.attachment_field :image %>
      </div>

      <h5>タイトル</h5>
      <div>
        <%= f.text_field :title %>
      </div>

      <h5>イントロダクション</h5>
      <div>
      <%= f.text_area :body, class: "form-control", rows: "4", placeholder: '投稿するイラストの説明を記述' %>
      </div>

      <%= f.submit '新規投稿', class: "mt-3" %><br />
    <% end %>
  </div>

</div>
