<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <div>
        <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
      </div>
      <!--ログインはURLから実施するためボタンを設けない-->
    <% end %>
    <h1 class="blog-title">〇〇〇〇のお絵描きブログ</h1>

    <div class="d-flex flex-row">
      <div class="side-bar mr-auto"></div>
      <%= yield %>
      <div class="side-bar ml-auto"></div>
    </div>

  </body>
</html>
